.menu-button {
  padding-left: 15px;
  padding-top: 5px;
}

.content {
  height: 100vh;
  margin-top: 40px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.add-icon {
  cursor: pointer;
}
